body {
    font-family: "Inter", sans-serif;
}

.business-card-covers > *:not(:last-child) {
    margin-bottom: 24px;
}

.business-card {
    width: 490px;
    height: 280px;
    background-color: #edeceb;
    border-radius: 8px;
    padding: 24px 48px;
    margin: auto;
    box-shadow:  2px 2px 4px rgb(0 0 0 / 16%);
}

.business-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.business-card-back {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.business-card-front > * {
    width: 66%;
}

.business-card-back > * {
    width: 50%;
}

.business-card-back > *:not(:last-child) {
    margin-right: 48px;
}

.business-card-front .brand {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.business-card-front .brand img {
    object-fit: contain;
    width: 100%;
}

.brand img {
    object-fit: contain;
    width: 75%;
}

.company-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.person-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.person-info > *:not(:last-child) {
    margin-bottom: 4px;
}

.role {
    color: #ff5e54;
    margin: 0;
}

.divider {
    border: 1px solid black;
    width: 100%;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}