body {
    font-family: sans-serif;
}

div {
    margin: 5px;
}

.business-card {
    width: 600px;
    height: 300px;
    padding: 30px;
    background-color: #555;
    color: white;
    border-radius: 5px;
}

.first-name {
    font-weight: bold;
    font-size: 1.5em;
}

.last-name {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.5em;
}

.company {
    font-variant: small-caps;
}

.avatar img {
    width: 150px;
}

a {
    color: white;
}

a:hover {
    font-weight: bold;
}