.user-info {
    border: 1px blue solid;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
li {
    background-color: aqua;
    list-style-type: none;
    max-width: 40%;
}
h1 {
    text-align: center;
}