* {
    font-family: "Roboto", sans-serif;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn {
    border: solid grey 2px;
}