.form {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.error {
    color: red
}

.correct {
    color: green;
}

.divider {
    background-color: grey;
    height: 1px;
    width: 200px;
    align-self: center;
    margin-bottom: 10px;
}

.admin {
    font-size: 10px;
}

#counter{
    text-align: right;
}

.card-text {
    height: 100px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tablinks {
  border-radius: 0px !important;
}

.tablink-left{
  border-top-left-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important;
}

.tablink-right{
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 1px;
  border-radius: .25rem;
}

.selling-label {
  background-color: green;
  color: white;
}

.sold-label {
  background-color: #0069d9;
  color: white;
}

.space {
  height: 10px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.message-sender {
  font-weight: bold;
}

.message {
  display: flex;
  flex-direction: row;
}

.chat-messages {
  height: 300px ;
  overflow: auto;
}

.row {
  row-gap: 20px;
}

.sort-container {
  width: 95%;
  display: flex;  
  justify-content: right;
}

.sort-options {
  margin-right: 10px;
}

#ascBtn {
  border-radius: 0px;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  margin-right: -10px;
}

#descBtn {
  border-radius: 0px;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.card-profile-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-profile {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.card-avatar {
  margin-right: 10px;
}

.search-container {
  display: flex;
  width: 100%;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-search {
  margin-left: 10px;
}