img {
    width: 150px;
}

* {
    color: rgb(240, 240, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(247, 242, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

h1 {
    color: black;
    margin: 25px 10px;
}

.front, .back {
    width: 500px;
    height: 250px;
    margin: 10px;
    object-fit: contain;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 5px 5px 10px rgb(94, 94, 94);
}

.frontLeft {
    flex-grow: 0;
    margin: 50px;
}

.frontRight {
    flex-grow: 1;
    margin: 0px 50px 10px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.name, .date-age {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.frontRight > div.name {
    font-size: 155%;
    font-weight: 700;
}

.frontRight > div{
    font-size: 110%;
    flex-grow: 1;
}

.frontRight .company{
    color: rgb(219, 196, 130);
    font-weight: 600;
    font-size: 150%;
}

.frontRight .rank {
    color: rgb(219, 196, 130);
    font-weight: 600;
    font-size: 120%;
}

.frontRight .ships {
    font-style: italic;
    margin-top: 10px;
}

.backLeft {
    flex-grow: 1;
    margin: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: center;
    gap: 10px;
}

.backRight {
    flex-grow: 2;
    margin: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    gap: 10px;
}

.backLeft > .date-age{
    font-style: italic;
    font-size: 100%;
}

.backLeft > div.name * {
    color: rgb(219, 196, 130);
    font-weight: 550;
    font-size: 100%;
}

.backLeft > .ships, .available {
    font-style: italic;
    margin-top: 15px;
    font-size: 90%;
}

.backLeft > .company{
    font-weight: 600;
    font-size: 98%;
}

.backLeft > .rank {
    font-weight: 600;
    font-size: 100%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 0px;
}

li {
    margin: 5px;
    font-size: 98%;
}

.available {
    font-style: italic;
    margin-top: 15px;
    font-size: 90%;
}

.email {
    color: rgb(219, 196, 130);
}
