main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    gap: 50px;
}
button a {
    text-decoration: none;
    color: black;
}
button {
    font-size: 36px;
    width: 200px;
}