body {
    display: flex;
    justify-content: center;
}
main {
    padding: 10px;
    margin-top: 100px;
    background-color: hsl(0, 100%, 70%);
    border: 5px solid black;
    box-shadow: black 10px 10px;
    display: flex;
}
img {
    border-radius: 5px;
    border: 2px solid black;
}