body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    align-items: center;
}

.business-card {
    display: flex;
    /*comment*/
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.business-card-front,
.business-card-back {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: aliceblue;
    justify-content: center;
    padding-left: 50px;

}

.business-card div {
    margin: 10px;
}

.company-logo img {
    width: 100px;
    height: 100px;
}

.full-name {
    font-weight: bold;
    font-size: 1.2em;
}

.age,
.profession,
.adress,
.phoneNumber,
.email,
.website,
.isLookingForJob,
.company-name,
.post-number {
    font-size: 0.9em;
    color: #333;
}

.age,
.profession {
    font-weight: bold;
}