* {
    color: rgba(255, 255, 255, 0.952);

}

h1 {
    color: black;
}

body {
    font-family: Sans-serif, Geneva, Tahoma, sans-serif;
}

.logo {
    width: 250px;
}

.logo-back {
    width: 250px;
}

.row {
    flex-wrap: nowrap;
    display: flex;
}

.left {
    width: 40%;
}

footer {
    color: black;
    text-align: center;
    padding: 20px 0;
}

.right {
    right: 60%;
    padding: 20px;
    margin-left: 40px;
}

.left-back {
    width: 40%;
    padding: 20px;
    margin: auto 10px;
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 10px;
}

.right-back {
    width: 30%;
}

.business-card {
    width: 550px;
    height: 250px;
    background-color: rgba(75, 64, 0, 0.445);
    background-blend-mode: multiply;
    border-radius: 10px;
    box-shadow: 4px 4px 6px black;
    background-size: cover;
    margin-bottom: 20px;
}

.first-name {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

.last-name {
    font-size: 50px;
    font-weight: bold;
}

.age {
    margin-top: 20px;
    font-size: 20px;
}

.is-married {
    font-size: 20px;
}

.default-text {
    margin-top: 2px;
    font-size: 16px;
}

a {
    color: black;
}

.showcase {
    margin-bottom: 20px;
}