* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", sans-serif;
}

.card {
  width: 300px;
  height: 200px;
  background-color: red;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.firstname {
  font-size: 1.5em;
  color: black;
  margin-bottom: 10px;
}

.lastname {
  font-size: 2em;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
}

.age {
  font-size: 3em;
  color: black;
  margin-bottom: 10px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.card-logo {
  width: 100px;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text {
  font-size: 0.9em;
}
