body {
    font-family: sans-serif;
}

.form-container {
    width: 600px;
    margin: 100px auto 0;   
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.message-container {
    text-align: left;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-error {
    color: red;
    font-size: 15px;
}


.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
}

label {
    font-weight: bold;
}

h2 {
    color: #007bff;
}

.avatar {
    width: 100px;
    height: auto;
}

