body {
    background-color: #ddd;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.form-signup {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
}

.form-group {
    margin: 10px 0;
}

.alert-danger {
    color: red;
}

.alert-success {
    color: green;
}

.form-control {
    height: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.btn, .form-control {
    border: 1px solid #555;
    border-radius: 3px;
    background-color: white;
    display: block;
}

.btn-primary {
    font-size: 1.5rem;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}