* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #662549;
}

.alert {
    border-radius: 10px;
    padding: 0.4em;
    text-align: center;
    width: fit-content;

}

.alert-fail {
    background-color: rgba(249, 94, 94, 0.484);
    color: rgb(225, 0, 0);
}

.alert-success {
    background-color: rgba(105, 222, 105, 0.224);
    color: rgb(0, 160, 0);
}

.block-center {
    display: block;
    text-align: center;
}

.border-rounded {
    border-radius: 24px;
    border-color: #662549;
    border-width: 2px;
    border-style: dashed;
    width: fit-content;
    padding: 0 2em 2em 2em;
    background-color: whitesmoke;
}

.button-submit {
    text-align: center;
    padding: 0.5em;
}

.btn-type-1 {
    font-size: 1.5em;
    margin-right: 0.5em;
    background-color: #662549;
    color: white;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 0em 2em 0em 2em;
}

.btn-type-1:disabled {
    background-color: white;
    border-color: #662549;
    color: #662549;
    opacity: 0.4;
}

.btn-type-1:hover, .btn-type-1:focus {
    background-color: white;
    color: #662549;
    border-color: #662549;
    border-width: 1px;
    border-style: solid;
}

.btn-type-1:hover {
    cursor: pointer;
}

.btn-type-1 > a {
    text-decoration: none;
    color: inherit;
}

.container-flex-center {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

em {
    color: inherit;
}

.em150{
    font-size: 1.5em;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-group {
    margin: 0.2em;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.form-group > small {
    color: lightslategrey;
    font-size: 0.5em;
}

.form-input {
    font-size: 1em;
    color: rgb(65, 65, 65);
    border-radius: 10px;
    border-color: #662549;
    border-width: 1px;
    padding-left: 0.5em;
}

.form-input:focus {
    background-color: white;
}

.is-invalid {
    border-color: red;
    border-style: solid;
}

.no-padding-paragraph {
    margin-top: 0;
    margin-bottom: 0;
}

.margin-top {
    margin-top: 1em;
}

.shadow-simple {
    box-shadow: 0 0 10px 5px rgba(119, 136, 153, 0.301);
}