* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #358597;
}

.border-rounded {
    border-style: solid;
    border-radius: 16px;
    border-color: #358597;
    border-width: 2px;
    padding: 1em;
}

.breakable {
    word-wrap: break-word;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-flex-center {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    min-width: 390px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 1.2em;
    border-bottom: #F4A896;
    border-bottom-style: solid;
    min-width: 100%;
    text-align: left;
    text-indent: 0.5em;
}

td {
    border-bottom: #F4A896;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-wrap: nowrap;
    padding: 5px 0 5px 0;
    text-indent: 0.2em;
}

td > a {
    text-decoration: none;
}
