.info {
    margin: 0;
}

.form-signup {
    width: 500px;
    margin: 0 auto;
}

.form-group {
    margin: 0 auto;
}

.form-group {
    width: 100%;
}

.select {
    width: 308px;
}

.form-control {
    width: 300px;
}

.wrapper {
    width: 1000px;
    background-color: rgba(128, 128, 128, 0.205);
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.label {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

.input {
    margin-top: 5px;
}

.btn {
    margin-top: 10px;
}

img {
    height: 300px;
}