body {
    display: grid;
    justify-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group {
    line-height: 25px;
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    line-height: 28px;
}

label {
    justify-self: left;
}

select {
    height: 32px;
}

.form-errors {
    border: solid 3px red;
    background-color: rgba(255, 65, 65, 0.497);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.form-success {
    border: solid 3px rgb(0, 212, 0);
    background-color: rgba(0, 212, 0, 0.497);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}