* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.panel {
    height: 75px;
    width: 100%;
    background-color: #564153;
    margin-bottom: 20px;
}


.notifications {
    margin-bottom: 20px;
}

.form-errors {
    background-color: rgb(209, 103, 103);
    padding: 20px;
    border-radius: 16px;
}

.form-errors p {
    font-size: 20px;
    padding: 4px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: 3px;
}

.form-signup {
    min-width: 400px;
}

.form-control {
    width: 100%;
    padding: 8px 10px;
}

.button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-primary {
    padding: 10px 36px;
    border-radius: 8px;
    background-color: #564153;
    color: #ffffff;
}