
.b-card {
    background-image: url(https://wallpapers.com/images/hd/business-card-background-1280-x-905-n6ldeup9il1tfrty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 600px;
}

.bc-head {
    font-weight: bold;
    font-size: 2em;
    padding-top: 5%;
    text-align: center;
    margin-left: -40px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(229, 229, 229);
}

.bc-content {
    display: flex;
    align-items:stretch;
}

.bc-foot {
    display: flex;
    justify-content: space-between;
    align-content: stretch;

}
.bc-foot div {
    margin-left: 2px;
    margin-right: 2px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(229, 229, 229);
    font-weight: bold;
}

.bc-foot i {
    padding: 0.2em;
}

.bc-info {
    line-height: 0.8em;
    margin-top: 1.5em;
    text-indent: 0.8em;
    flex-grow: 8;
}

.bc-avatar {
    width: 220px;
    margin-top: 2em;
    overflow: auto;
    text-align: right;
}
