.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.carousel-item {
    position: relative;
}

.vh-100 {
    height: 100vh;
}

.bg-grey {
    background-color: rgba(204, 204, 204, 0.479);
}

.bg-picture {
    height: 250px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
    z-index: -1;
}

.abs {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.small-text {
    font-size: x-small;
}

.normal-text {
    font-size: larger;
    font-weight: 600;
}

.reservation {
    background-color: white;
    height: 35px;
    cursor: pointer;
}

.mt-30 {
    margin-top: -30px !important;
}

.indicator {
    height: 12px;
    width: 20px;
    border-radius: 6px;
    display: inline-block;

}

.bg-white {
    background-color: white;
}



.button-container {
    position: relative;
    display: inline-block;
}

.circle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;

}


.circle-button:hover {
    background-color: #198754;
}

.sport-editing {
    cursor: pointer;
}

#edit-sports {
    margin: 0;
}

.is-sport {
    box-shadow: 0 0 0 4px var(--bs-success);
}

.reload-btn {
    background: none;
    border: none;
    display: inline-flex;
}