* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 80px;
    padding: 10px;
    background-color: hsl(0, 12%, 85%);
}

a {
    color: inherit;
}


.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-menu-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.eshop-icon i {
    font-size: 2rem;
    margin-left: 10px;
}

.eshop-name {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.navbar-menu-left .eshop-name a {
    font-size: 1.5rem;
    font-weight: 700;
}



.navbar-menu-right i {
    font-size: 1.4rem;
    cursor: pointer;
}

.fa-user {
    margin: 0 15px;
}

.navbar-cat ul {
    display: flex;
}

.navbar-cat ul li {
    padding: 10px 15px;
    list-style: none;
    cursor: pointer;
    transition: .3s;
}

.navbar-cat ul li:hover {
    background-color: hsl(0, 12%, 85%);
}

/*      PRODUCTS     */



.product-info > p {
    font-weight: 700;
}

.product-info > p:first-child {
    margin-bottom: 5px;
}

.product-info > p:nth-child(2) {
    display: inline-block;
}

.product-info i {
    margin-left: 4rem;
    font-size: 1.2rem;
    cursor: pointer;
}


img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pagination a {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #eee;
}
.pagination a.active {
    color: cadetblue;
}



/* LOGIN.PHP */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-label {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.login-input {
    font-size: 1rem;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid hsl(0, 0%, 9%);
    border-radius: 5px;
}

.login-container .login-form button {
    font-weight: 700;
    width: 100px;
    height: 40px;
    background-color: hsl(0, 12%, 85%);
    margin-top: 15px;
    border: 2px solid hsl(0, 0%, 9%);
    border-radius: 5px;
    cursor: pointer;
    transform: .3s;
}

.login-container .login-form button:hover {
    background-color: hsl(0, 12%, 75%);
}

.login-register {
    margin-top: 20px;

}

.register-link {
    cursor: pointer;
    color: black;
    transition: .3s;
    text-decoration: none;
}

.register-link:hover {
    color: hsl(0, 12%, 75%);
}

/*        REGISTRACNI HLASKA              */
.registration-success {
    position: absolute;
    top: 40%;
    left: 42%;
    padding: 15px;
    border-radius: 5px;
    background-color: hsl(0, 12%, 85%);
}

.registration-sucess p {
    margin-bottom: 10px;
}

.registration-success button {
    padding: 5px;
    margin-top: 5px;
}