body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: orange;
}

.card {
    border: 5px solid orange;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(44, 40, 40);
    display: flex;
    max-width: 600px;
}

.logo {
    margin-right: 20px;
}